<div class="container">
  <h1>Dummy Users</h1>

  
<br><br><br>

<b>Login:</b><br><br>
<form action="/login" method="post">
  <label for="email">Email:</label><br>
  <input type="text" name="email"><br>
  <label for="password">Password:</label><br>
  <input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>  
<br><br><br>

<b>Signup:</b><br><br>
<form action="/signup" method="post">
  <label for="name">User name:</label><br>
  <input type="text" name="name"><br>
  <label for="email">Email:</label><br>
  <input type="text" name="email"><br>
  <label for="password">Password:</label><br>
  <input type="password" name="password"><br>
  <label for="password2">Repeat password:</label><br>
  <input type="password" name="password2"><br>
  <input type="submit" value="Submit">
</form>  





</div>
